.booking{
    background-color: whitesmoke;
}

.booking-form{
    width: 500px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,-50%);    
    top: 55%;
    color: black;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:25px;
    border-radius: 10px;
    background-color: whitesmoke;
}




h3{
    float: left;
    font-size: 38px;
    border-bottom: 4px solid #ffffff;
    margin-bottom: 40px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    color : black;
    font-size: 20px;
    padding: 9px 0;
    margin: 5px 0;
    border-bottom: 2px solid #ffffff;

}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    margin: 0 10px;
}


.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .submit_booking{
    width: 100%;
    background: orangered;
    border: 3px solid #ffffff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top:30px;
    outline: none;
    padding:12px;
    
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.selectclass > option{
    outline: none;
    border: none;
}

::placeholder{
    color : black;
    opacity: 1;
}