#dashnav{ /*Dashboard nav */
    padding:8px;
    height:65px;
    background-color: #151515;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
    margin-bottom: 0px;

}

#logout{  /*Logout button */
    float: right;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    font-size: 34px;

}

#sidebar{
    background-color: #151515;
    top:65px;
    left:0;
    bottom: 0;
    width: 13rem;
    position: absolute;
    height:1200px;
    flex-direction: column;
    align-items: center;

}

#main-content{
    margin-left: 18rem;
    margin-top: 30px;
}

