.register-content{
    height: 100vh;
    background-color: rgb(125, 207, 228);
    overflow-x: hidden !important;
}
#registercard{
    width: 350px;
    border-radius: 25px;
    margin:120px auto;
    padding-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.2);
    }
#name, #email, #phone, #password{
        border-radius:30px;
        background-color: #ebf0fc;
        border:none;
        color: #000000;
}
    
#name:focus, #password:focus, #email:focus, #phone:focus{
        box-shadow: none;
    }
    
#button{
    outline: none;
    border-radius: 20px;
    margin:  auto;
    }