.register{
    height: 100vh;
    background-image: url("../Images/booking.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden !important;
}

.register-box{
    width: 430px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);   
     top: 50%;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:30px;
    border-radius: 10px;
    backdrop-filter: blur(8px); 
}


h2{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #ffffff;
    margin-bottom: 40px;
    padding: 13px 0;
}

.register-textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 7px 0;
    border-bottom: 2px solid #ffffff;
}
.register-textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
}

.register-submit{
    width: 100%;
    background: none;
    border: 3px solid #ffffff;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 25px 0;
    outline: none;
    padding:12px;
    
}

.Rname::placeholder{
    color: white;
    opacity: 1;
}

.age::placeholder{
    color: white;
    opacity: 1;
}

.email::placeholder{
    color: white;
    opacity: 1;
}

.username::placeholder{
    color: white;
    opacity: 1;
}


.phone::placeholder{
    color: white;
    opacity: 1;
}

.password::placeholder{
    color : white;
    opacity: 1;
}

